<%- include('partials/header.ejs') %>


<form class="form" action="/todo" method="post">
    <input class="text" type="text" name="task">
    <input class="submit" type="submit" value="add">
</form>

<div class="tasks">
    <% if (locals.tasks) { %>
        <% tasks.forEach(function(item) {%>
        <div class="items">
            <p><%= item %></p>
        </div>
    <% });} %>
</div>

</body>
</html>